/* common */
.plan-show {
  background-color: #f8f8f8;
  width: 100vw;
  align-items: center;
  padding: 5vh 0;
  text-align: center;
}

.plan-box {
  background-color: #FFF;
  width: 50%;
  min-width: 1000px;
  /* padding: 10vh 10vw; */
  text-align: center;
  display: flex;
  flex-direction: column;
}
.plan-box-left{
  text-align: center;
  width: 100vw;
}
/* .plan-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
} */
.plan-img-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 929px;
}
.plan-box-img{
  height: 20%;
  width: 65%;
  min-height: 300px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
  border-radius: 5px;
  display:block; 
  margin-left: auto;
  margin-right: auto;
}
.plan-img-content > .plan-img{
  height: 20%;
  width: 55%;
  min-height: 300px;
  background-color: white;
  object-fit: contain;
  border-radius: 5px;
  display:block; 
  margin-left: auto;
  margin-right: auto;
}
.plan-box-right{
  margin:1px auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}
.plan-edit-box{
  width: 50vw;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.plan-green-btn {
  text-align: center;
  background-image: linear-gradient(90deg, rgba(144, 245, 154, 1), rgba(4, 202, 255, 1));
  font-size: 24px;
  font-weight: bold;
  color: #FFF;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-decoration: none;
  border-radius: 5px;
}

.plan-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 5px 0px;
  /* padding: 5px 10vw; */
  text-decoration: none;
  border-radius: 5px;
  /* width: 80%; */
}

.detail-table {
  margin-bottom: 30px;
  width: 60%;
  max-width: 600px;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right:auto;
}

.detail-plan {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}
.option-box{
  width: 100vw;
  background-image: radial-gradient(circle, rgba(255, 242, 58, 1), rgba(224, 162, 8, 1) 80%);
  display: flex;
  justify-content: center;
}
.option {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 1px auto;
}

.favorite-star-icon {
  display: block;
  border-radius: 5px;
  width: 15vw;
  min-width: 200px;
  color: goldenrod;
  border: 2px solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: ivory;
}
.favorite-star-icon > span{
  margin-left: 5px;
}

.bookmark-icon{
  display: block;
  border-radius: 5px;
  width: 15vw;
  min-width: 200px;
  color: goldenrod;
  border: 2px solid goldenrod;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  background-color: ivory;
}
.bookmark-icon > span{
  margin-left: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supplement-box-title{
  width: 100vw;
  height: 6.5vh;
  background-image: linear-gradient(179deg, rgba(65, 164, 253, 0.7), rgba(14, 244, 255, 1));
  text-align: center;
  font-weight: bold;
  font-size:x-large;
  color: white;
}

.supplement-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
  margin: 0 auto;
}

.supplement-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.supplement-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.supplement-btn {
  line-height: 48px;
  background-color: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 5px;
  margin-bottom: 2vh;
}

.supplement-flag {
  display: flex;
  justify-content: center;
}

.supplement-flag-icon {
  margin: 10px 5px 0 0;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;

}

.change-plan-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}

.another-plan {
  display: block;
  margin: 30px 0px 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
#supplements{
  overflow: scroll;
  height: 200px;
  width:  100%;
  border: 2px solid lightgray;
}
/* #map {
  height: 40vh;
  width: 50vw;
  padding: auto;
  margin-bottom: 10px;
} */
.search-form,sub{
 justify-content: center;
}
.following-nickname{
  background-image: linear-gradient(90deg, rgba(255, 0, 165, 1), rgba(191, 233, 255, 1));
  color: white;
  font-weight: bold;
  font-size: x-large;
  display: block;
  text-align: center;
  border-top: 2px solid white;
}
.notice{
  text-align: center;
}
@media (min-width: 930px){
.plan-show {
  display: flex;
  flex-direction: column;
}

.plan-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.supplement-box {
  width: 40vw;
  margin: 5vh 0;
  text-align: center;
  margin: 0 auto;
}
.plan-box-right{
  width: 40%;
}
.plan-box-left{
  width: 50%;
}
.plan-img-content{
  height: 50%;
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.plan-box-img{
  height: 40%;
  width: 80%;
  min-height: 300px;
  object-fit: contain;
  border-radius: 5px;
  display:block; 
  margin-left: auto;
  margin-right: auto;
}
.plan-edit-box{
  width: 400px;
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.plan-green-btn {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0px;
  text-decoration: none;
  border-radius: 5px;
}

.plan-destroy {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 5px 0px;
  text-decoration: none;
  border-radius: 5px;
}
.plan-explain-box {
  font-weight: bold;
  font-size: 18px;
  display:block;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-plan {
  width: 20%;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  font-size: 14px;
}

}