/* common */
* {
  box-sizing: border-box;
  overflow-x: hidden;
}
.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: #272727;
}
.search-bar-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}
.entertain-yourself-icon {
  display: block;
  border-radius: 5px;
  width: 100%;
  max-width: 257px;
  height: 10vh;
}
.icon-image{
  width: 100%;
  height:100%;
  margin-right: 5vw;
}
.search-form {
  width: 100%;
  height: 5vh;
  margin-bottom: 3px;
}
.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  display: block;
  cursor: pointer;
}
.search-bars{
  width: 100%;
  height: 20vh;
  text-align: center;
}
.search-bar{
  display:block;
  text-align: center;
}
.search-bars > select{
  width: 100%;
  height: 5vh;
  cursor: pointer;
  margin-bottom: 1px;
}
.search-button{
  height: 5vh;
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  border: none;
  transition: border .5s;
}
.search-button:hover{
  border: 1px solid white;
}

.search-icon {
  background-color: blue;
  border: none;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
  justify-content: center;
}
.user-nickname {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: large;
}

.follow-count{
  color: white;
}
.follow-count-link{
  color: yellowgreen;
  font-weight: bold;
  transition: color 1s;
}
.follow-count-link:hover{
  color: steelblue;
}
@media (min-width: 1125px) {
.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
}

.entertain-yourself-icon {
  width: 100%;
  max-height: 100%;
}
.icon-image{
  width: 30vw;
  margin-right: 15vw;
}
.search-form {
  margin-top: 5px;
  width: 80%;
}
.search-bars{
  width: 80%;
  height: 6vh;
  display: flex;
  display: block;
  text-align: center;
}
.search-bars > select{
  width: 24%;
  height: 5vh;
  cursor: pointer;
  padding-bottom: 0;
  margin-bottom: 0;
}
.search-box{
  width: 80%;
}

.search-bar{
  width: 30%;
  display:block;
}
.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}
#plan_search{
  width: 80%;
}
/* .search-button {
  display: block;
  width: 5vw;
  border: 0;
  cursor: pointer;
  background-color: rgb(10, 10, 224);
  padding: 8px;
} */
.search-button{
  height: 5vh;
  width: 70%;
  text-align: center;
  font-size: 10px;
}
.search-icon {
  height: 5vh;
  width: 80%;
}
.sort_link{
  color:white;
  font-size: small;
}
.search-order{
  height: 4vh;
  width: 10%;
  text-align: center;
  justify-content: center;
}
.search-submit-box{
  display: flex;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}
.user-nickname {
  font-size: x-large;
}

.logout {
  text-decoration: none;
  color: white;
  transition: color .5s;
  font-weight: bold;
}


.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
}


.sign-up {
  text-decoration: none;
  color: white;
}
.follow-count{
  margin-right: 3vw;
}
/* .follow-count-link{
  color: yellowgreen;
  font-weight: bold;
} */
} 