* {
  box-sizing: border-box;
  overflow-x: hidden;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 10vw;
  display: flex;
  flex-direction: column;
  background-color: #272727;

}

.search-bar-contents {
  display: flex;
  align-items: center;
  justify-content: center;
}

.entertain-yourself-icon {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}
.icon-image{
  width: 26vw;
  margin-right: 15vw;
}


.search-form {
  width: 80%;
  margin-bottom: 3px;
}
.search-bars{
  width: 80%;
  height: 5vh;
  display: flex;
  display: block;
  text-align: center;
}
.search-bars > select{
  width: 24%;
  cursor: pointer;
}
.search-box{
  width: 80%;
}
.search-bar{
  width: 30%;
  display:block;
}
.search-form>.input-box {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
  display: block;
  cursor: pointer;
}
#plan_search{
  width: 80%;
}
/* .search-button {
  display: block;
  width: 5vw;
  border: 0;
  cursor: pointer;
  background-color: rgb(10, 10, 224);
  padding: 8px;
} */
.search-button{
  height: 5vh;
  width: 80%;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  background-color: blue;
  cursor: pointer;
  border: none;
}
.search-icon {
  background-color: blue;
  border: none;
  width: 80%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}


.user-nickname {
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.logout {
  text-decoration: none;
  color: white;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: white;
}

.sign-up {
  text-decoration: none;
  color: white;
}
.follow-count{
  color: white;
  margin-right: 3vw;
}
.follow-count-link{
  color: yellowgreen;
  font-weight: bold;
}