<%# 下部広告部分 %>
<div class='ad-footer-contents'>
  <p class='ad-footer-explain'>
    一人の時間を、自分時間を充実させよう！
  </p>
  <p class='ad-footer-explain'>
    You can begin improving your life by improving your alone time by yourself.
  </p>
<%unless user_signed_in?%>
  <h2 class='ad-footer-title'>
    今すぐ登録しよう！
  </h2>
<%else%>
  <h2 class='ad-footer-title'>
    さっそく投稿しよう！
  </h2>
<%end%>
</div>
<%# /下部広告部分 %>

<div class='footer'>
  <div class='footer-contents'>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ABOUT ENTERTAIN YOURSELF</h2>
      <ul>
        <li><%= link_to '概要', about_plans_path, class: "footer-link" %></li>
      </ul>
    </div>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ENTERTAIN YOURSELFを見る</h2>
      <ul>
        <li><%= link_to 'ページ先頭へ', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='entertain-yourself-details'>
      <h2 class='footer-content-head'>ENTERTAIN YOURSELFについて</h2>
      <ul>
        <li><%= link_to 'ENTERTAIN YORSELFガイド', guide_plans_path, class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%= link_to image_tag("entertain-yourself-logo.png", class:"logo-white"), "#" %>
  <p>© ENTERTAIN YOURSELF</p>
</div>