// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.favorite-list-title{
  color: white;
  font-weight: bold;
  font-size: x-large;
  display: block;
  text-align: center;
  background-image: radial-gradient(circle, rgba(255, 242, 58, 1), rgba(224, 162, 8, 1) 80%);
}