.ranking-box{
  display: flex;
  height: 5vh;
  text-align: center;
  background-color: lightseagreen;
  color: white;
  font-weight: bold;
  font-size: x-large;
  overflow: hidden;
}
.ranking-index{
  align-items: center;
}

.plan-index{
  color: white;
  background-image: linear-gradient(180deg, rgba(15, 87, 222, 1), rgba(61, 156, 194, 1) 50%, rgba(136, 139, 215, 1) 97%, rgba(197, 125, 233, 1));
  font-weight: bold;
  font-size: x-large;
  text-align: center;
}


.plan-contents {
  background-image: image-url('06-white-cardboard.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

// .index_title {
//   background: linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   font-size: 7vh;
//   line-height: 1.4;
//   font-weight: bold;
// }
.index_title span {
  background: linear-gradient(45deg, #54d0ff, #9f92ff 20%, #ff7689 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 7vh;
  line-height: 1.4;
  font-weight: bold;
  display: inline-block;
  margin: 0 -.05em;
  animation: loading 1.8s 2;
}
.index_title span:nth-child(2) {
  animation-delay: .2s;
}
.index_title span:nth-child(3) {
  animation-delay: .4s;
}
.index_title span:nth-child(4) {
  animation-delay: .6s;
}
.index_title span:nth-child(5) {
  animation-delay: .8s;
}
.index_title span:nth-child(6) {
  animation-delay: 1.0s;
}
.index_title span:nth-child(7) {
  animation-delay: 1.2s;
}
.index_title span:nth-child(8) {
  animation-delay: 1.4s;
}
.index_title span:nth-child(9) {
  animation-delay: 1.6s;
}
.index_title span:nth-child(10) {
  animation-delay: 1.8s;
}
@keyframes loading {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}

.plan-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}
.item-img-content{
  overflow: visible;
  object-fit: contain;
  border-radius: 5px;
  background-image: image-url("wood.png");
}

.count-click{
  margin: 0 auto;
  text-align: center;
  color: lightseagreen;
  margin: 0 auto;
  font-weight: bold;
}
.count-click-mine{
  margin: 0 auto;
  text-align: center;
  color: darkolivegreen;
  margin: 0 auto;
}

.plan-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}


.plan-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  display: block;
  margin: 3px 3px 3px 3px;
}

.list > .plan-img-content {
  position: relative;
  object-fit: cover;
}

.plan-img {
  width: 33vh;
  height: 33vh;
  border-radius: 5px;
  display: block;
  text-align: center;
  object-fit: scale-down;
  margin: 0 auto;
}
.slick-track{
  border-radius: 5px;
  height: 33vh;
  object-fit: contain;
  border-radius: 5px;
}

.plan-info {
  background-color:lightgray;
  color: black;
  // width: 33vh;
  border-radius: 5px;
  border: 1px solid darkgray;
  // align-items: center;
  transition: background-color 1s;
}
.plan-info:hover{
  background-color:darkgray;
}

.plan-name {
  font-size: 2.5vh;
  border-bottom: 1px solid white;
}
.item-img{
  width: 33vh;
  height: 33vh;
  border-radius: 5px;
  display: block;
}


.star-btn {
  border-top:1px solid white;
  display: flex;
  align-items: center;
}

.star-icon {
  height: 3vh;
  width: 3vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 3vh;
}
/* //商品一覧 */
.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}
.submit-btn{
  width: 120px;
  background: linear-gradient(to right, orange, deeppink, blueviolet, cyan);
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  text-decoration: none;
  border: 1px solid lightgray;
  box-shadow:0 0 10px rgba(0, 0, 0, 0.9);
  transition: opacity 1s;
  opacity: .8;
  -webkit-transition: none;
  transition: none;
}
.submit-btn:hover{
  opacity: 1;
}

.submit-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1.0);
}
.submit-btn-icon {
  width: 80%;
  border-radius: 5px;
  border: 1px solid lightgray;
}
